<div class="desc bg-info p-4 p-md-5">
  <p>
    {{{ main.desc }}}
  </p>
  <span class="mt-4 d-flex align-items-center">
    <img src="{{ main.arrow-right-src }}" width="16" height="16" class="d-inline-block"
      alt="Right arrow icon pointing at link">
    <p class="d-inline-block mb-0 mx-2"><a href="{{ main.learn-more-url }}" class="learn-more"
        target="_blank">{{ main.learn-more-copy }}</a></p>
  </span>
</div>