<div class="footer">
  <div class="container d-md-flex align-items-md-center px-4">
    <span class="copywrite text-white d-inline-block mt-5 mt-md-0">© <span id="year"></span> CME Group Inc. All
      rights
      reserved.</span>
    <span class="footer-nav text-white mx-md-5">
      <span class="footer-nav-item d-block d-md-inline-block mt-4 mt-md-0"><a
          href="https://www.cmegroup.com/company/about-us.html" target="_blank">About CME Group</a></span>
      <span class="d-none d-md-inline-block px-md-1">|</span>
      <span class="footer-nav-item d-block d-md-inline-block mt-4 mt-md-0"><a
          href="https://www.cmegroup.com/disclaimer.html" target="_blank">Disclaimer</a></span>
      <span class="d-none d-md-inline-block px-md-1">|</span>
      <span class="footer-nav-item d-block d-md-inline-block mt-4 mt-md-0"><a
          href="https://www.cmegroup.com/privacy-policy.html" target="_blank">Privacy Notice</a></span>
      <span class="d-none d-md-inline-block px-md-1">|</span>
      <span class="footer-nav-item d-block d-md-inline-block mt-4 mt-md-0 pb-5 pb-md-0"><a
          href="https://www.cmegroup.com/" target="_blank">CMEGroup.com</a></span>
    </span>
  </div>
</div>

<script src="{{assets}}/js/main.js"></script>
</body>

</html>