<!doctype html>
<html lang="en">

{{> head }}

<body>
  <div class="hero" id="hero">
    <div class="container px-3">
      <a href="https://www.cmegroup.com/" target="_blank" class="logo-link d-inline-block">
        <svg class="logo" width="146" height="23" viewBox="0 0 146 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M23.3555 9.97115V9.9252C23.3555 5.32954 26.795 1.56763 31.6886 1.56763C34.6671 1.56763 36.4673 2.60593 38.0155 4.08298L36.1916 6.18552C34.8969 4.98343 33.5132 4.17562 31.6664 4.17562C28.5729 4.17562 26.3325 6.71468 26.3325 9.87851V9.9252C26.3325 13.0861 28.5729 15.6718 31.6664 15.6718C33.6518 15.6718 34.9213 14.8647 36.3065 13.5722L38.1296 15.4176C36.4451 17.1733 34.5967 18.2798 31.5737 18.2798C26.8639 18.2798 23.3555 14.6105 23.3555 9.97115Z"
            fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M40.6172 1.84497H43.6409L48.559 9.48662L53.477 1.84497H56.5001V18.0043H53.6616V6.4147L48.559 14.0326H48.4656L43.4119 6.46065V18.0043H40.6172V1.84497Z"
            fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M59.5493 1.84497H71.5324V4.38255H62.3893V8.58543H70.4926V11.1245H62.3893V15.4645H71.6458V18.0043H59.5493V1.84497Z"
            fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M77.5278 9.97115V9.9252C77.5278 5.40068 80.9933 1.56763 85.8639 1.56763C88.6809 1.56763 90.4107 2.35247 92.0723 3.75985L90.2713 5.90687C89.027 4.84485 87.8019 4.17562 85.7468 4.17562C82.769 4.17562 80.5079 6.78435 80.5079 9.87851V9.9252C80.5079 13.2484 82.7001 15.6963 86.0003 15.6963C87.524 15.6963 88.9106 15.2101 89.9037 14.472V11.4482H85.7728V8.97731H92.6496V15.7637C91.0562 17.1266 88.7735 18.2798 85.9091 18.2798C80.854 18.2798 77.5278 14.6802 77.5278 9.97115Z"
            fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M95.5566 5.81386H98.3507V8.56118C99.1133 6.73877 100.52 5.49148 102.665 5.58337V8.53969H102.505C100.058 8.53969 98.3507 10.1316 98.3507 13.3636V18.0037H95.5566V5.81386Z"
            fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M114.012 11.9789V11.9329C114.012 9.7859 112.466 8.00796 110.271 8.00796C108.034 8.00796 106.602 9.76292 106.602 11.8862V11.9329C106.602 14.0562 108.148 15.8556 110.32 15.8556C112.58 15.8556 114.012 14.0792 114.012 11.9789ZM103.807 11.9789V11.9329C103.807 8.4467 106.579 5.56079 110.32 5.56079C114.058 5.56079 116.804 8.40001 116.804 11.8862V11.9329C116.804 15.3947 114.033 18.2798 110.271 18.2798C106.555 18.2798 103.807 15.4428 103.807 11.9789Z"
            fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M119.041 13.5725V5.81372H121.835V12.7402C121.835 14.6337 122.781 15.718 124.443 15.718C126.06 15.718 127.191 14.5871 127.191 12.6942V5.81372H129.984V18.0036H127.191V16.1108C126.406 17.2647 125.275 18.2578 123.381 18.2578C120.632 18.2578 119.041 16.4109 119.041 13.5725Z"
            fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M142.602 11.9324V11.8865C142.602 9.53195 141.009 7.9845 139.117 7.9845C137.223 7.9845 135.562 9.55418 135.562 11.8865V11.9324C135.562 14.2862 137.223 15.8351 139.117 15.8351C141.032 15.8351 142.602 14.3322 142.602 11.9324ZM132.836 5.81376H135.63V7.84591C136.529 6.57711 137.8 5.5603 139.762 5.5603C142.648 5.5603 145.441 7.84591 145.441 11.8865V11.9324C145.441 15.9723 142.671 18.2579 139.762 18.2579C137.753 18.2579 136.482 17.2418 135.63 16.1108V22.44H132.836V5.81376Z"
            fill="white" />
          <mask id="mask0_196_417" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="132" y="5" width="14"
            height="18">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M142.602 11.9324V11.8865C142.602 9.53195 141.009 7.9845 139.117 7.9845C137.223 7.9845 135.562 9.55418 135.562 11.8865V11.9324C135.562 14.2862 137.223 15.8351 139.117 15.8351C141.032 15.8351 142.602 14.3322 142.602 11.9324ZM132.836 5.81376H135.63V7.84591C136.529 6.57711 137.8 5.5603 139.762 5.5603C142.648 5.5603 145.441 7.84591 145.441 11.8865V11.9324C145.441 15.9723 142.671 18.2579 139.762 18.2579C137.753 18.2579 136.482 17.2418 135.63 16.1108V22.44H132.836V5.81376Z"
              fill="white" />
          </mask>
          <g mask="url(#mask0_196_417)"></g>
          <mask id="mask1_196_417" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="19"
            height="20">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.741455H18.8451V19.609H0V0.741455Z" fill="white" />
          </mask>
          <g mask="url(#mask1_196_417)">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M4.28958 9.8026H9.08164V5.33144H5.06998C4.59418 6.6825 4.32442 8.19364 4.28958 9.8026ZM11.5214 19.6091H13.3527L17.2895 15.673H14.1664C13.5395 17.2323 12.6435 18.5752 11.5214 19.6091ZM8.28346 19.6091H9.08164V15.673H5.34049C6.02824 17.2923 7.03097 18.6434 8.28346 19.6091ZM1.53189 15.673L5.4687 19.6091H7.28888C6.16906 18.5759 5.27527 17.2323 4.65051 15.673H1.53189ZM10.6143 0.740967H9.76347V4.64887H13.5024C12.8265 3.03991 11.8423 1.69849 10.6143 0.740967ZM5.3353 4.64887H9.08165V0.740967H8.2301C6.99985 1.69849 6.01342 3.03991 5.3353 4.64887ZM5.07443 14.9904H9.08164V10.4852H4.28958C4.32145 12.1045 4.59122 13.629 5.07443 14.9904ZM17.9587 5.33144H14.4421C14.8957 6.6951 15.1529 8.20327 15.1833 9.8026H18.8451V6.21708L17.9587 5.33144ZM14.537 10.4852H9.76347V14.9904H13.7433C14.2294 13.629 14.5007 12.1045 14.537 10.4852ZM17.2762 4.64887L13.3683 0.740967H11.6037C12.7027 1.76593 13.5824 3.09846 14.1946 4.64887H17.2762ZM14.4192 14.9904H17.9713L18.8451 14.1166V10.4852H15.181C15.1469 12.0956 14.8838 13.6156 14.4192 14.9904ZM7.23997 0.740967H5.40571L1.54819 4.64887H4.64236C5.25822 3.09846 6.13941 1.76593 7.23997 0.740967ZM9.76347 15.673V19.6091H10.5268C11.7808 18.6434 12.7857 17.2923 13.4765 15.673H9.76347ZM3.64481 10.4852H0V14.1411L0.850061 14.9904H4.39927C3.93681 13.6156 3.67668 12.0956 3.64481 10.4852ZM4.39408 5.33144H0.874518L0 6.21708V9.8026H3.64481C3.67816 8.20327 3.93755 6.6951 4.39408 5.33144ZM14.5392 9.8026H9.76347V5.33144H13.7655C14.2391 6.6825 14.5074 8.19364 14.5392 9.8026Z"
              fill="#25A9E0" />
          </g>
        </svg>
      </a>
    </div>

    <video id="bg-video" class="bg-video" playsinline="playsinline" muted="muted" loop="loop">
      <source src="{{ main.bg-video-src }}" type="video/mp4" />
    </video>

    <div class="container px-3 bg-vid-content">
      <div class="text-white">
        <h1 class="tagline">{{ main.hero-heading }}</h1>
      </div>
    </div>
    <div class="container play-pause-cont d-lg-flex justify-content-end">
      <img id="playPause" width="40" height="40" class="play-pause" src="{{ main.play-pause-src }}"
        alt="Play and Pause button" />
    </div>
  </div>