<div class="container-fluid global-ads pb-5">
  <div class="container">
    <div class="row">
      <div class="d-block pt-5">
        <h2 class="mb-0">{{ main.videos-heading }}</h2>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <div class="ads-img-cont">
          <iframe width="100%" height="100%"
            aria-label="A still image from a video of a big-wave surfer surfing on a wave as it crests behind him"
            src="https://players.brightcove.net/49919183001/46f29b5c-718a-4f1f-aabc-37aadea1426c_default/index.html?videoId=ref:211115Campaign_wave"
            allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" class="videoContainer"></iframe>
        </div>
      </div>

      <div class="col-md-6">
        <div class="ads-img-cont mt-4 mt-md-0">
          <iframe width="100%" height="100%"
            aria-label="A still image from a video of a field at twilight that has several bottles with lightning bolts glowing inside them"
            src="https://players.brightcove.net/49919183001/46f29b5c-718a-4f1f-aabc-37aadea1426c_default/index.html?videoId=ref:211115Campaign_lightning"
            allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" crossorigin="true"
            class="videoContainer"></iframe>
        </div>
      </div>

      <div class="col-md-6">
        <div class="ads-img-cont mt-4">
          <iframe width="100%" height="100%"
            aria-label="A still image from a video of a professional woman golfer hitting a golf ball out of a sand trap"
            src="https://players.brightcove.net/49919183001/46f29b5c-718a-4f1f-aabc-37aadea1426c_default/index.html?videoId=ref:211115Campaign_golf"
            allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" class="videoContainer"></iframe>
        </div>
      </div>
    </div>

  </div>
</div>